{% if prometheus_ssl_certfile and prometheus_ssl_keyfile %}
tls_server_config:
  cert_file: "{{ prometheus_ssl_certfile }}"
  key_file: "{{ prometheus_ssl_keyfile }}"
{% endif %}


basic_auth_users:
{% for user in prometheus_basic_auth_users | selectattr('enabled') | list %}
    {{ user.username }}: {{ user.password | password_hash('bcrypt', salt=prometheus_bcrypt_salt) }}
{% endfor %}
